<mat-sidenav-container class="layout-container">

  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar color="primary">ERP V5</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/products">Products</a>
      <a mat-list-item routerLink="/inventory">Inventory</a>
      <a mat-list-item routerLink="/planning">Planning</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Dashboard</span>
      <span class="spacer"></span>
      <button mat-button>Logout</button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
